@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");
@media (max-width: 500px) {
  .container {
    box-sizing: border-box;
    height: 95%;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "navigation navigation"
      ". ."
      ". title"
      ". ."
      ". ."
      ". ."
      "aboutMe aboutMe"
      ". ."
      ". ."
      "links .";
  }
}
@media (min-width: 500px) {
  .container {
    box-sizing: border-box;
    height: 95%;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . links"
      "navigation . . . . . . ."
      ". . . title title . . ."
      ". . . . aboutMe aboutMe aboutMe aboutMe"
      ". . . . aboutMe aboutMe aboutMe aboutMe";
  }
}
.links {
  grid-area: links;
  grid-auto-flow: column;
  z-index: 1;
}
.title {
  grid-area: title;
}
.aboutMe {
  grid-area: aboutMe;
}
.socialsLink {
  z-index: 1;
  transition: 0.2s;
}
.socialsLink:hover {
  font-size: large;
}
