@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Golos Text", sans-serif;
}

html,
body {
  width: 100vw;
  /* height: 95%; */
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

#tiles {
  position: absolute;
  top: 3.8rem;
  left: 0;
  height: 100%;
  width: 100vw;
  opacity: 0.1;
  z-index: 0;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}
.tile {
  outline: 0.5px solid black;
  z-index: 1;
}
