@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

.headerContainer {
  height: 4rem;
  width: 100%;
}
.logo {
  height: 3.7rem;
  width: auto;
}
.navigationLinks {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}
.container {
  height: 95%;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . ."
    "navigation . . . . . . ."
    ". titles titles titles . . homepageInfo homepageInfo"
    ". . . . . . homepageInfo homepageInfo"
    ". . . . . . homepageInfo homepageInfo";
}

.navigation {
  grid-area: navigation;
  padding: 1rem;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  width: 150px;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titles {
  grid-area: titles;
  font-size: 1.6rem;
}

.homepageInfo {
  grid-area: homepageInfo;
  font-size: 1.15rem;
  margin: 5px;
}
#photographer {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
#webDesigner {
  color: rgba(0, 0, 0, 0.75);
  margin-top: 10px;
}
